<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        
        <a class="navbar-brand" href="index.html">
            <i class="fa-solid fa-mountain-sun text-primary"></i> JujuyTurismo
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-lg-center">
                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                
                <li class="nav-item dropdown dropdown-mega d-flex align-items-center">
                    
                    <a class="nav-link pe-1" href="/pages/destinos.html">Destinos</a>
                    <a class="nav-link dropdown-toggle px-1" href="#" data-bs-toggle="dropdown"></a>
                    
                    <div class="dropdown-menu p-4 bg-white">
                        <div class="row g-4">
    
    <div class="col-md-3">
        <h6 class="fw-bold border-bottom pb-2">
            <a href="/pages/destinos.html#quebrada" class="text-primary text-decoration-none">
    <i class="fa-solid fa-mountain-sun me-1"></i> Quebrada
</a>
        </h6>
        <ul class="list-unstyled">
            <li><span class="dropdown-item-text px-0 text-secondary">Purmamarca</span></li>
            <li><span class="dropdown-item-text px-0 text-secondary">Tilcara</span></li>
            <li><span class="dropdown-item-text px-0 text-secondary">Humahuaca</span></li>
        </ul>
    </div>

    <div class="col-md-3">
        <a href="/pages/destinos.html#puna" class="text-primary text-decoration-none">
    <i class="fa-solid fa-wind me-1"></i> Puna
</a>
        </h6>
        <ul class="list-unstyled">
            <li><span class="dropdown-item-text px-0 text-secondary">Salinas Grandes</span></li>
            <li><span class="dropdown-item-text px-0 text-secondary">Susques</span></li>
        </ul>
    </div>

    <div class="col-md-3">
        <h6 class="fw-bold border-bottom pb-2">
            <a href="/pages/destinos.html#yungas" class="text-primary text-decoration-none">
    <i class="fa-solid fa-tree me-1"></i> Yungas
</a>
        </h6>
        <ul class="list-unstyled">
            <li><span class="dropdown-item-text px-0 text-secondary">PN Calilegua</span></li>
            <li><span class="dropdown-item-text px-0 text-secondary">San Francisco</span></li>
            <li><span class="dropdown-item-text px-0 text-secondary">Termas del Río Jordan</span></li>
        </ul>
    </div>
<div class="col-md-3 d-none d-lg-block">
                                <img src="../img/quebrada.jpg" class="img-fluid rounded-3 shadow-sm" alt="Jujuy">
                            </div>
</div>

                    </div>
                </li>

                <li class="nav-item"><a class="nav-link" href="agencias.html">Agencias</a></li>
                <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="precios.html">Precios</a></li>
                
                <li class="nav-item ms-lg-3 mt-3 mt-lg-0">
                    <a class="nav-link btn btn-primary text-white px-4 shadow-sm rounded-pill" href="contacto.html">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>