<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <i class="fa-solid fa-mountain-sun text-primary"></i> JujuyTurismo
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                
                <li class="nav-item dropdown dropdown-mega position-static">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Destinos</a>
                    <div class="dropdown-menu shadow  p-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <h6 class="fw-bold text-primary border-bottom pb-2 ps-2 dest">Quebrada</h6>
                                    <ul class="list-unlysted">
                                        <li><a class="dropdown-item" href="destinos.html">Purmamarca</a></li>
                                        <li><a class="dropdown-item" href="destinos.html">Tilcara</a></li>
                                        <li><a class="dropdown-item" href="destinos.html">Humahuaca</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h6 class="fw-bold text-primary border-bottom pb-2 ps-2">Puna</h6>
                                    <ul class="list-unlysted">
                                        <li><a class="dropdown-item" href="destinos.html">Salinas Grandes</a></li>
                                        <li><a class="dropdown-item" href="destinos.html">Susques</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <img src="../img/quebrada.jpg" class="img-fluid rounded" alt="Jujuy">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="nav-item"><a class="nav-link" href="agencias.html">Agencias</a></li>
                <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/pages/precios.html">Precios</a></li>
                <li class="nav-item"><a class="nav-link btn btn-primary text-white ms-lg-3 px-4" href="contacto.html">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>